BASE_URL=http://localhost:3000
NS_API_KEY=
TO_EMAIL=
TO_EMAIL_2=
CHANNEL=mock
PROVIDER=mock
PACKAGE_NAME=simplens-plugin-mock
TEMPLATE_ID=
NOTIFICATION_ID=
ALERT_ID=
ADMIN_CHANNEL_ID=
DISCORD_WEBHOOK_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=