NODE_ENV=                  # set as production, development, test etc.. used for setting the secure propery for cookie
MONGO_URI=                 # mongodb connection uri
PORT=3002                  # port number
API_BASE_URL=              # notification service base url (e.g. http://localhost:3000)
WEBHOOK_HOST=              # webhook host
WEBHOOK_PORT=              # webhook port
BASE_PATH=                 # Base path for Next.js app (e.g., /dashboard). Leave empty for root path.
