MONGO_URI=                 # mongodb connection uri
PORT=3002                  # port number
ADMIN_USERNAME=            # admin username
ADMIN_PASSWORD=            # admin password
AUTH_SECRET=               # authentication secret
NS_API_KEY=                # notification service api key
API_BASE_URL=              # notification service base url
WEBHOOK_HOST=              # webhook host
WEBHOOK_PORT=              # webhook port